<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">Eliminar Cliente</div>
        <div class="card-body">
            <form th:action="@{/profiles/{id}(id=${deleteProfile.id})}" th:object="${deleteProfile}" th:method="delete">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input th:field="*{completeName}" type="text" class="form-control" id="name"
                           placeholder="Nombre completo" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input th:field="*{mail}" type="email" class="form-control" id="email"
                           placeholder="Correo electrónico"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input th:field="*{phone}" type="text" class="form-control" id="phone"
                           placeholder="Teléfono celular"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="address">Dirección</label>
                    <input th:field="*{address}" type="text" class="form-control" id="address"
                           placeholder="Dirección completa"
                           readonly>
                </div>
                <input type="submit" class="btn btn-danger" value="Eliminar">
                <a th:href="@{/profiles}" class="btn btn-warning">Cancelar</a>
            </form>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>