<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
    <h3 th:text="${profile.key}"></h3>
    <h3 th:text="${profile.name}"></h3>
    <h3 th:text="${profile.mail}"></h3>
    <h3 th:text="${profile.phone}"></h3>
    <h3 th:text="${profile.address}"></h3>
    <h3 th:text="${profile.createAt}"></h3>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>