<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
    <a th:href="@{create-profile}">Nuevo Cliente</a>
    <div th:if="${profiles.isEmpty()}">No hay usuarios en la lista</div>
    <div th:if="${!profiles.isEmpty()}">
        <table class="table table-bordered">
            <thead>
            <tr span="3">Usuarios Registrados</tr>
            <tr>
                <td># Cliente</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Correo</td>
                <td>Dirección</td>
                <td>Eliminar</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="profile: ${profiles}">
                <td th:text="${profile.key}"><a th:href="@{/profiles/profile.key}"></a></td>
                <td th:text="${profile.name}"></td>
                <td th:text="${profile.mail}"></td>
                <td th:text="${profile.phone}"></td>
                <td th:text="${profile.address}"></td>
                <td><a th:href="@{/profiles/profile.key}">eliminar</a></td>
            </tr>
            </tbody>
            <tfooter>Total de registros: <span th:text="${profiles.size()}"></span></tfooter>
        </table>
    </div>
</div>

<footer th:replace="layout/layout :: footer">
</footer>
</body>
</html>