<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
    <h1>Nuevo Cliente</h1>
    <form action="#" th:action="@{/profiles/:key}" th:object="${updateProfile}" method="put">
        <table class="table table-bordered">
            <tr>
                <td>Nombre</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Correo</td>
                <td><input type="text" th:field="*{mail}"></td>
            <tr>
                <td>Teléfono</td>
                <td><input type="text" th:field="*{phone}"></td>
            <tr>
                <td>Dirección</td>
                <td><input type="text" th:field="*{address}"></td>
                <input type="hidden" th:field="*{key}"><br>
                <input type="hidden" th:field="*{createAt}"><br>
                <input type="submit" class="btn btn-primary">
        </table>
    </form>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>