<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <div th:if="${users.isEmpty()}">No hay usuarios en la lista</div>
    <div th:if="${!users.isEmpty()}">
        <table>
            <thead><tr span="3">Usuarios Registrados</tr>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Correo</td>
            </tr>
                </thead>
            <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.last_name}"></td>
                    <td th:text="${user.mail}"></td>
                </tr>
            </tbody>
            <tfoot>Total de registros: <span th:text="${users.size()}"></span></tfoot>
        </table>
        <ul>
            <li>
                <a href="@{/account/users(name)}"></a>
            </li>
        </ul>
    </div>
</body>
</html>