<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
    <h1>Eliminar Nota</h1>
    <form th:action="@{/profiles/{id}/notes/{note-id}(id=${profile.id}, note-id=${deleteNote.id})}"
          th:object="${deleteNote}" th:method="delete">
        <div class="form-group">
            <label for="noteNumber">Número Nota</label>
            <input th:field="*{noteNumber}" type="text" class="form-control" id="noteNumber" readonly>
        </div>
        <div class="form-group">
            <label for="inputDate">Fecha Entrada</label>
            <input th:field="*{inputDate}" type="text" class="form-control" id="inputDate" readonly>
        </div>
        <div class="form-group">
            <label for="outputDate">Fecha Salida</label>
            <input th:field="*{outputDate}" type="text" class="form-control" id="outputDate" readonly>
        </div>
        <div class="form-group">
            <label for="totalAmount">Monto Total</label>
            <input th:field="*{totalAmount}" type="text" class="form-control" id="totalAmount" placeholder="0.0" readonly>
        </div>
        <div class="form-group">
            <label for="comments">Comentario</label>
            <input th:field="*{comments}" type="text" class="form-control" id="comments" placeholder="Algún comentario" readonly>
        </div>
        <input type="hidden" th:field="*{id}"><br>
        <input type="hidden" th:field="*{createAt}"><br>
        <input type="submit" class="btn btn-danger" value="Eliminar">
    </form>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>