<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SACTIN</title>
</head>
<body>
<h1>Nueva Nota</h1>
<form action="#" th:action="@{/profiles/profileKey/notes}" th:object="${newNote}" method="post">
    Número nota
    <input type="text" th:field="*{key}"><br>
    Fecha Entrada
    <input type="text" th:field="*{inputDate}"><br>
    Fecha Salida
    <input type="text" th:field="*{outputDate}"><br>
    Monto total
    <input type="text" th:field="*{totalAmount}"><br>
    Comentarios
    <input type="text" th:field="*{comments}"><br>
    <input type="submit">
</form>
</body>
</html>