<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
    <h1>Actualizar Nota</h1>
    <form th:action="@{/profiles/{id}/notes/{note-id}(id=${profile.id}, note-id=${updateNote.id})}"
          th:object="${updateNote}" th:method="put">
        <div class="form-group">
            <label for="noteNumber">Número Nota</label>
            <input th:field="*{noteNumber}" type="text" class="form-control" id="noteNumber">
        </div>
        <div class="form-group">
            <label for="inputDate">Fecha Entrada</label>
            <input th:field="*{inputDate}" type="text" class="form-control" id="inputDate">
        </div>
        <div class="form-group">
            <label for="outputDate">Fecha Salida</label>
            <input th:field="*{outputDate}" type="text" class="form-control" id="outputDate">
        </div>
        <div class="form-group">
            <label for="deliveryDate">Fecha Entrega</label>
            <input th:field="*{deliveryDate}" type="text" class="form-control" id="deliveryDate">
        </div>
        <div class="form-group">
            <label for="totalPieces">Total Piezas</label>
            <input th:field="*{totalPieces}" type="number" min="1" class="form-control" id="totalPieces">
        </div>
        <div class="form-group">
            <label for="totalAmount">Monto Total</label>
            <input th:field="*{totalAmount}" type="text" class="form-control" id="totalAmount" placeholder="0.0">
        </div>
        <div class="form-group">
            <label for="comments">Comentario</label>
            <input th:field="*{comments}" type="text" class="form-control" id="comments" placeholder="Algún comentario">
        </div>
        <input type="hidden" th:field="*{id}"><br>
        <input type="hidden" th:field="*{createAt}"><br>
        <input type="submit" class="btn btn-primary" value="Actualizar">
    </form>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>